nav {
  height: 60px;
  background-color: whitesmoke;
}

.nav-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 6%;
}

.create-tournament {
  padding: 10px 20px;
}

.tournament {
  width: 100vw;
  height: 100vh;
}

.table {
  /* border: 1px solid black; */
  height: calc(100vh-60px);
  width: 90%;
  overflow-y: scroll;
  margin: 0 5%;
  position: relative;
  border-radius: 50px;
}

/* .table-head{
  position: absolute;
  width: 100vw;
} */

.danger-btn {
  background-color: red;
  color: white;
  border: 1px solid red;
}

/* th,td{
  border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2;} */

.forms-tournament {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
  position: relative;
}

form {
  position: absolute;
  width: 40%;
  height: 90%;
  border: 1px solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 10px #888888;
  border-radius: 5px;
}

.form-part {
  padding: 5%;
}

.date-picker {
  width: 100%;
}

.submit-tournament {
  width: 100%;
  margin-top: 4%;
}

.dahsboard {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(205, 205, 226);
}

.dash-part {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  text-decoration: none;
}

.admin {
  color: white;
}

.goBack{
  position: fixed;
  top: 2%;
  font-size: 10px;
}
